
/* --============= start main ==========-- */
*
{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
body{
    margin: 0;
    padding: 0; 
    background-color:#323242;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
/* --============= end main ==========-- */

/* --============= start framework ==========-- */
.clear-fix{
    clear: both;
}
.float-left{
    float: left
}
.float-right{
   float: right;
}
.visible-xs, .visible-sm, .visible-md, .visible-lg{
  display: none;
}
.link-ul{
    text-decoration: none;
}
.text-center{
    text-align: center;
}
/* --============= end framework ==========-- */

.ya{
    width: 25%;
    padding: 20px 15px;
    background-color: white;
    margin: 200px auto 40px;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0  6px  6px rgba(0, 0, 0, 0.23);
}
.ya h1{
    color:#6982c7;
    text-align: center;
    font-size: 50px;
    width: 100%;
}
.ya input{
    display: block;
    padding: 15px;
    margin: 10px auto;
    border: none;
    outline: none;
    border: 1px solid #6982c7;
    width: 99%;
    border-radius: 5px;
}
.ya button{
    width: 99%;
    display: block;
    margin: 20px auto;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 25px;
    background-color: #6982c7;
    color: white;
}

#yo{
    margin: 10px  auto;
    width: 25%;
    background-color: white;
    color: black;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0  6px  6px rgba(0, 0, 0, 0.23);
}
/* #skils{
    width: 30%;
    padding: 20px 15px;
    background-color: white;
    margin: 50px auto;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
                0  6px  6px rgba(0, 0, 0, 0.23);
}
.sell{
    display: block;
    width: 20%;
    outline: none;
    padding: 10px 0;
    margin: 25px auto;
} */





/* --============= start media ==========-- */
@media screan and (max-width:767px){
    .container{
        width: 100%;
    }
}
@media screan and (min-width:768px) and (max-width:991px){
    .container{
        width: 723px;
    }
}
@media screan and (min-width:992px) and (min-width:1199px){
    .container{
        width: 933px;
    } 
}
@media screan and (min-width:1200px){
    .container{
        width: 1127px;
    } 
}
/* --============= end media ==========-- */
